*  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html  {
    font-size: 100%;
}

.container  {
    width: 80%;
    margin: 10px auto;
}

.header  {
    height: 100px;
    background-color: #e579e6;
}

.header-box  {
    width: 100%;
    height: 400px;
    margin: 10px 0;
    background-color: #e1d67a;
}

.header-body  {
    height: 60px;
    background-color: #abcfe7;
}

.main  {
    background-color:#0785ff;
    margin-bottom: 10px;
}

.float  {
    float: left;
}

[class*=col-]  {
    height: 300px;
    width: 25%;
    margin: 10px 0px;
    background-color: #abcfe7;
}

.col-central  {
    width: calc(50% - 40px);
    margin: 10px 20px;
}

.clearfix::after  {
    content: '';
    display: table;
    clear: both;
}

.footer  {
    height: 50px;
    background-color: #8801fe;
}